.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px !important;
    margin: 0 auto;
    transition: 0.5s all ease;
  }

  .search:hover {
      transform: scale(1.5, 1.2);
  }
  